<div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
          <h2>Colleague Details</h2>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="table-responsive">
          <div *ngIf="colleagueDetails.length > 0">
          <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">OffficalEmail</th>
                <th scope="col">Contact No.</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let colleague of colleagueDetails; let i = index">
                <td>{{ colleague.firstName }}</td>
                <td>{{ colleague.lastName }}</td>
                <td>{{ colleague.officialEmail }}</td>
                <td>{{ colleague.contact }}</td>
                <td>
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
                    Search
                  </button>&nbsp;
                  <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#exampleModalLong1">Clear</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          <h3 *ngIf="colleagueDetails.length==0" class="text-center">No data found!</h3>
        </div>
      </div>
    </div>
  </div>