.latest h3 {
    color: #fff;
    padding: 15px 55px 10px 15px;
    font-size: 16px;
    text-transform: capitalize;
    /* float: left; */
    width: auto;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
}

/* Tabs */

.tabs {
    display: flex;
  }
  
  .tabs button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .tabs button.active {
    background-color: #ccc;
  }
  
  .tabs button:not(:last-child) {
    margin-right: 10px;
  }
  

  th {
    background-color: #0cd1d1;
    color: #fff;
  }

  table, th, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
  }
