<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 headerColor" style="margin-top: 15px;">
            <div class="latest">
                <h3>Apply Leaves</h3>
            </div>
        </div> -->
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-2">
            <p style="font-weight: 600;"><i class="fa fa-address-card-o fa-1x" aria-hidden="true"></i> Leave Policy</p>
        </div>
        <div class="col-md-2">
            <p style="font-weight: 600;"><i class="fa fa-question-circle fa-1x" aria-hidden="true"></i> FAQ</p>
        </div>
        <div class="col-md-2">
            <p style="font-weight: 600;"><i class="fa fa-calendar fa-1x" aria-hidden="true"></i> Holiday Schedule</p>
        </div>
    </div>

    <form #form="ngForm" (ngSubmit)="submitLeaveDetails(form)" novalidate>
        <!-- Start Date and End Date -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3">
                <label style="font-weight: 600;">Start Date:</label>
                <input type="date" class="form-control mt-2" id="startDate" name="startDate" [(ngModel)]="startDate" required>
            </div>
            <div class="col-md-3">
                <label style="font-weight: 600;">End Date:</label>
                <input type="date" class="form-control mt-2" id="endDate" name="endDate" [(ngModel)]="endDate" required>
            </div>
        </div>
    
        <!-- Duration and Current Balance -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3 mt-2">
                <label style="font-weight: 600;">Duration:</label><br />
                <span *ngIf="startDate && endDate">{{ getDuration(startDate, endDate) }}</span>
            </div>
            <div class="col-md-3">
                <label style="font-weight: 600;">Current Balance</label>
                <p class="mt-2">0.00</p>
            </div>
        </div>
    
        <!-- Absence Name and Select Half Day -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <label style="font-weight: 600;">Absence Name:</label>
                <select class="form-control mt-2" id="select" name="absenceName" [(ngModel)]="absenceName" required>
                    <ng-container *ngFor="let item of applyLeavesDetails;">
                        <option [value]="item.leaveValue" *ngFor="let employeeDetail of employeeLeavesDetails">
                            {{ item.leaveName }} ({{ employeeDetail.unUsedLeavesCount }})
                        </option>
                    </ng-container>
                </select><br />
                <input type="checkbox" [(ngModel)]="selectHalfDay" name="selectHalfDay" id="selectHalfDay"> Select Half Day
            </div>
        </div>
    
        <!-- Requester Comments -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <label style="font-weight: 600;">Requester Comments</label>
                <textarea class="form-control mt-2" id="textAreaExample" rows="4" style="background: #fff;"
                    placeholder="Type here..." name="requesterComments" [(ngModel)]="requesterComments" required></textarea>
                <label class="form-label" for="textAreaExample">300 characters remaining</label>
            </div>
        </div>
    
        <!-- Submit Button -->
        <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
            </div>
        </div>
    </form>
    

    <div class="modal" id="successModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #8bc34a;">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: #fff;">Success!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="color: #000;">Leave details submitted successfully!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="errorModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #f44336;">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: #fff;">Error!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="color: #000;">Error occurred while submitting leave details: {{ error }}</p>
                </div>
            </div>
        </div>
    </div>