<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sl. No.</th>
                            <th scope="col">DATE</th>
                            <th scope="col">DAY</th>
                            <th scope="col">EVENT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>01-Jan-24</td>
                            <td>Monday</td>
                            <td>New Year</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>26-Jan-24</td>
                            <td>Friday</td>
                            <td>Republic Day</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>09-Apr-24</td>
                            <td>Tuesday</td>
                            <td>Chandramana Ugadi</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>01-May-24</td>
                            <td>Monday</td>
                            <td>May Day</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>17-Jun-24</td>
                            <td>Monday</td>
                            <td>Bakrid</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>15-Aug-24</td>
                            <td>Thursday</td>
                            <td>Independence Day</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>02-Oct-24</td>
                            <td>Wednesday</td>
                            <td>Gandhi Jayanthi</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>31-Oct-24</td>
                            <td>Thursday</td>
                            <td>Deepavali/Diwali</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>01-Nov-24</td>
                            <td>Friday</td>
                            <td>Kannada Rajyatosava</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>25-Dec-24</td>
                            <td>Wednesday</td>
                            <td>Christmas</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>27-Dec-24</td>
                            <td>Friday</td>
                            <td>Annual Shutdown</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md-3 offset-md-1">
            <div class="container text-center jumbotron">
                <h3><b>Download Here</b></h3>
                <button class="form-control" style="border: 2px solid #000; background-color: #004de6; color: #000; padding: 8px 16px;" (click)="downloadExcel()">Download Holiday Calendar</button>
            </div>
        </div>
    </div>
</div>