<!-- <section id="footer">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 style="font-size: 22px;">Quick links</h5>
                <ul class="list-unstyled quick-links">
                  <li ><a  routerlinkactive="active" href="/">
                    <i  class="fa fa-angle-double-right"></i> Home</a>
                  </li>
                  <li  class="nav-item">
                    <a  routerlinkactive="active" href="/request-free-demo">
                    <i  class="fa fa-angle-double-right"></i> Request&nbsp;Free&nbsp;Demo</a>
                  </li>
                  <li ><a  routerlinkactive="active" href="/test-types" class="">
                    <i  class="fa fa-angle-double-right"></i> We are Experts in</a></li>
                    <li ><a  routerlinkactive="active" href="/products-services">
                      <i  class="fa fa-angle-double-right"></i> Products & Services</a>
                    </li>
                  </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <h5 style="font-size: 22px;">Quick links</h5>
                <ul  class="list-unstyled quick-links">
                  <li ><a  routerlinkactive="router-link-active" href="/products-services">
                    <i  class="fa fa-angle-double-right"></i> Terms of Service</a>
                  </li>
                  <li ><a  routerlinkactive="router-link-active" href="/career">
                    <i  class="fa fa-angle-double-right"></i> Careers</a>
                  </li>
                  <li ><a  routerlinkactive="router-link-active" href="/contact-us">
                    <i  class="fa fa-angle-double-right"></i> Contact Us</a>
                  </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 style="font-size: 22px;">Address</h5>
          <p > Aspirature Technologies #12, <br > 4th cross road,
            <br /> Satya Sai layout whitefiled,
            <br /> Bangalore-560066, Karnataka
          </p>
          </div>
          
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 style="font-size: 22px;">Contact</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="mailto:hr@aspirature.com">Email: hr@aspirature.com</a></li>
                    <li><a href="tel:9000221474">Phone: +91 9000221474</a></li>
                </ul>
               
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 ">
                <h6>© 2024 All rights Reserved.<a class="text-green ml-2" [routerLink]="['/']" routerLinkActive="router-link-active" target="_blank">ASPIRATURE TECHNOLOGY</a></h6>
            </div>
        </div>
    </div>
  </section> -->
  
  <button class="top" id="btn2" class="topButton" *ngIf="isShow" (click)="gotoTop()"><i
    class="fa fa-arrow-up"></i></button>
  
    <!-- <div *ngIf="isCookies" class="cky-consent-container cky-banner-bottom" tabindex="0"> 
      <div class="cky-consent-bar" data-cky-tag="notice" style=" background-color: #FFFFFF;">   <div class="cky-notice"> <p class="cky-title" role="heading" aria-level="1" data-cky-tag="title" style="color: #212121;"> We value your privacy </p> <div class="cky-notice-group"> 
        <div class="cky-notice-des" data-cky-tag="description" style="color: #212121;">
           <p>We use cookies to enhance your browsing experience, serve personalized ads or content, and analyze our traffic. By clicking "Accept all", you consent to our use of cookies.</p> 
          </div>  <div class="cky-notice-btn-wrapper" data-cky-tag="notice-buttons"> 
            <button class="cky-btn cky-btn-customize" aria-label="Customize" data-cky-tag="settings-button" style="color:  #02198b; border-color: #02198b; background-color: transparent;" (click)="close();">Customize</button> 
            <button class="cky-btn cky-btn-reject" aria-label="Reject all" data-cky-tag="reject-button" style="color: #02198b; border-color:  #02198b; background-color: transparent;"(click)="close();">Reject all</button> 
            <button class="cky-btn cky-btn-accept" aria-label="Accept all" data-cky-tag="accept-button" style="color: #FFFFFF; border-color:  #02198b; background-color:  #02198b;"(click)="close();">Accept all</button>  
          </div> 
        </div> 
      </div> 
      </div> 
      </div>
   -->