<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 headerColor" style="margin-top: 15px;">
            <div class="latest">
                <h3>Timesheets</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                <h2>Timesheet Summary</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-5">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
            </div>
            <div class="col-lg-3">
                <button type="button" class="btn btn-primary" style="background-color: green;">Search</button>
            </div>
        </div>
        <div class="row">
            <p style="font-weight: 500;margin-top: 20px;">
                Please follow basic troubleshooting if you face any discrepanices in accessing the Page.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="font-weight: 500;margin-top: 20px;">
                <div>
                    <a [routerLink]="['/time-entry']" style="text-decoration: none;">
                        <div class="table-responsive">
                            <table class="shadow-lg p-3 mb-5 bg-body rounded table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b style="color: #383561;">30-MAR-2023 TO 05-APR-2024</b>
                                            <br />
                                            <p style="color: #f7df09;">Pending</p>
                                        </td>
                                        <td><b>0.00</b> <br />
                                            <p>Billable Project Hrs</p>
                                        </td>
                                        <td><b>0.00</b> <br />
                                            <p>Non-Billable Project Hrs</p>
                                        </td>
                                        <td><b>0.00</b> <br />
                                            <p>Timeoff/Holiday Hrs</p>
                                        </td>
                                        <td><b>0.00</b> <br />
                                            <p>Tru Time Hrs</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </a>
                </div>
                <div style="margin-top: 0px;">
                    <a [routerLink]="['/time-entry']" style="text-decoration: none;">
                        <div class="table-responsive">
                            <table class="shadow-lg p-3 mb-5 bg-body rounded table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b style="color: #383561;">16-MAR-2023 TO 22-APR-2023</b>
                                            <br />
                                            <p style="color: #07cf54;">Approved</p>
                                        </td>
                                        <td><b>0.00</b> <br />
                                            <p>Billable Project Hrs</p>
                                        </td>
                                        <td><b>45.00</b> <br />
                                            <p>Non-Billable Project Hrs</p>
                                        </td>
                                        <td><b>0.00</b> <br />
                                            <p>Timeoff/Holiday Hrs</p>
                                        </td>
                                        <td><b>51.64</b> <br />
                                            <p>Tru Time Hrs</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </a>
                </div>
                <div style="margin-top: 0px;">
                    <a [routerLink]="['/time-entry']" style="text-decoration: none;">
                        <div class="table-responsive">
                            <table class="shadow-lg p-3 mb-5 bg-body rounded table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b style="color: #383561;">23-MAR-2024 TO 29-MAR-2024</b>
                                            <br />
                                            <p style="color: #e99414;">Submitted for Approved</p>
                                        </td>
                                        <td><b>36.00</b> <br />
                                            <p>Billable Project Hrs</p>
                                        </td>
                                        <td><b>25.00</b> <br />
                                            <p>Non-Billable Project Hrs</p>
                                        </td>
                                        <td><b>9.00</b> <br />
                                            <p>Timeoff/Holiday Hrs</p>
                                        </td>
                                        <td><b>0.64</b> <br />
                                            <p>Tru Time Hrs</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>