<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <h2><b>Employee Details</b></h2>
                </div>
                <div class="row">
                    <div class="col-md-0">
                        <form>
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">First Name:</label>
                                    <input type="text" class="form-control mt-2" name="fname" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Last Name:</label>
                                    <input type="text" class="form-control mt-2" name="lname" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Email:</label>
                                    <input type="email" placeholder="me@example.com" class="form-control mt-2"
                                        name="email" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">DOB:</label>
                                    <input type="date" class="form-control mt-2" name="lname" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Mobile:</label>
                                    <input type="text" class="form-control mt-2" name="email" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Phone:</label>
                                    <input type="text" class="form-control mt-2" name="lname">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">PAN Number:</label>
                                    <input type="text" class="form-control mt-2" name="pan" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Location:</label>
                                    <input type="text" class="form-control mt-2" name="location" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Current Company:</label>
                                    <input type="text" class="form-control mt-2" name="company" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Current Salary:</label>
                                    <input type="text" class="form-control mt-2" name="salary" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Expected Salary:</label>
                                    <input type="text" class="form-control mt-2" name="expectedSalary" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Total Years Experience:</label>
                                    <input type="text" class="form-control mt-2" name="totalYearsExperience" required>
                                </div>
                            </div>

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">ManagerID:</label>
                                    <input type="text" class="form-control mt-2" name="mId" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Manager Name:</label>
                                    <input type="text" class="form-control mt-2" name="mname" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Notice Period:</label>
                                    <input type="text" class="form-control mt-2" name="noticePeriod" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-default">Cancel</button>&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            <div class="row" >
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><b>Employee Experience Details</b></h2>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" (click)="addRow()">+Add</button>
                        </div>
                    </div>
                </div>
                <div class="row" *ngFor="let dynamic of dynamicArray; let i = index;">
                    <div class="col-md-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h2><b>{{ dynamic.title }}</b></h2>
                            </div>
                            <div class="col-md-2">
                                <button (click)="deleteRow(i)" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                        <form>
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Company Name:</label>
                                    <input type="text" class="form-control mt-2" name="fname" [(ngModel)]="dynamic.companyName" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Designation:</label>
                                    <input type="text" class="form-control mt-2" name="lname" [(ngModel)]="dynamic.designation" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Start Date:</label>
                                    <input type="date" class="form-control mt-2" name="sDate" [(ngModel)]="dynamic.startDate" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">End Date:</label>
                                    <input type="date" class="form-control mt-2" name="eDate" [(ngModel)]="dynamic.endDate" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Last Drawn CTC:</label>
                                    <input type="text" class="form-control mt-2" name="ctc" [(ngModel)]="dynamic.lastDrawnCTC" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Payroll Company Name:</label>
                                    <input type="text" class="form-control mt-2" name="pcName" [(ngModel)]="dynamic.payrollCompanyName">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Roles:</label>
                                    <select class="form-control mt-2" id="select">
                                        <option value="1">Roles1</option>
                                        <option value="2">Roles2</option>
                                        <option value="3">Roles3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <!-- <button (click)="deleteRow(i)" class="btn btn-danger">Delete</button>&nbsp;&nbsp; -->
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>