<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 offset-md-1" style="border: 1px solid #ccc;">
            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <h2><b>Employee Details</b></h2>
                </div>
                <div class="row">
                    <form [formGroup]="myFormEmployeeDetails" (ngSubmit)="submitForm()">
                        <div class="row " style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label style="font-weight: 600;">First Name:</label>
                                <input type="text" class="form-control mt-2" formControlName="firstName"
                                    placeholder="First Name" required>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Last Name:</label>
                                <input type="text" class="form-control mt-2" formControlName="lastName"
                                    placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Personal Email:</label>
                                <input type="email" placeholder="me@example.com" class="form-control mt-2"
                                    formControlName="personalEmail" placeholder="Personal Mail" required>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Official Email:</label>
                                <input type="email" placeholder="me@example.com" class="form-control mt-2"
                                    formControlName="officialEmail" placeholder="Official Mail" required>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Date of Birth:</label>
                                <input type="date" class="form-control mt-2" formControlName="dateofbirth"
                                    placeholder="DOB" required>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600;">UserName:</label>
                                <input type="text" class="form-control mt-2" formControlName="userName"
                                    placeholder="User Name" required>
                            </div>
                            <!-- <div class="col-md-6">
                                <label style="font-weight: 600;">Mobile:</label>
                                <input type="text" class="form-control mt-2"  formControlName="mobile" placeholder="Mobile" required>
                            </div> -->
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Gender:</label>
                                <select class="form-control" formControlName="gender" required>
                                    <option value="">Select Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Maritual Status:</label>
                                <select class="form-control" formControlName="materialStatus" required>
                                    <option value="">Select Maritual Status</option>
                                    <option>Married</option>
                                    <option>UnMarried</option>
                                    <option>Divorce</option>
                                </select>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Age:</label>
                                <input type="text" class="form-control mt-2" formControlName="age" placeholder="Age"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Department:</label>
                                <select class="form-control" formControlName="department" #mySelect1
                                    (change)='changeDepartment(mySelect1.value)' required>
                                    <option value="">Select Department</option>
                                    <option *ngFor="let department of departments" [value]="department.departmentId">{{
                                        department.departmentName }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row " style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Designation:</label>
                                <select class="form-control" formControlName="designation" #mySelect2
                                    (change)='changeDesignation(mySelect2.value)' required>
                                    <option value="">Select Designation</option>
                                    <option *ngFor="let designation of designations"
                                        [value]="designation.designationId">{{ designation.designatioName }}</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label style="font-weight: 600;">Home ManagerId:</label>
                                <input type="text" class="form-control mt-2" formControlName="homeManagerId"
                                    placeholder="Manager ID" required>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Manager Name:</label>
                                <input type="text" class="form-control mt-2" formControlName="managerName"
                                    placeholder="Manager Name" required>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600;">Roles:</label>
                                <select class="form-control" formControlName="roles" #mySelect3
                                    (change)='changeRole(mySelect3.value)' required>
                                    <option value="">Select Roles</option>
                                    <option *ngFor="let role of roles" [value]="role.roleId">{{ role.roleName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- AddressRow -->

    <div class="row mt-4">
        <div class="col-md-10 offset-md-1" style="border: 1px solid #ccc;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><b>Employee Address Details</b></h2>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" (click)="addAddressRow()">+Add</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-0">
                        <form [formGroup]="myFormAddressDetails" (ngSubmit)="submitAddressRow()">
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Address Type:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addresstype" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Address:</label>
                                    <input type="text" class="form-control mt-2" formControlName="address" required>
                                </div>
                            </div>
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Address Line1:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addresslinE1"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Address Line2:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addresslinE2"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Pincode:</label>
                                    <input type="text" class="form-control mt-2" formControlName="pincode" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="countries">Country</label>
                                    <select id="countries" class="form-control" formControlName="country" (change)="onCountryChange()">
                                        <option *ngFor="let country of countries" [value]="country.countryid">{{
                                            country.country }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label for="states">State</label>
                                    <select id="states" class="form-control" formControlName="state" (change)="getDistrictData()">
                                        <option *ngFor="let state of states" [value]="state.stateid">{{ state.state }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="districts">District</label>
                                    <select id="districts" class="form-control" formControlName="districtname">
                                      <option *ngFor="let district of districts" [value]="district.districtid">{{ district.districtname }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" *ngFor="let dynamic of dynamicAddressRow; let i = index;">
                    <div class="col-md-0">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h2><b>{{ dynamic.title }}</b></h2> -->
                            </div>
                            <div class="col-md-2">
                                <button (click)="deleteAddressRow(i)" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                        <!-- <form [formGroup]="myFormAddressDetails" (ngSubmit)="submitAddressRow()">
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Address Type:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addresstype" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Address:</label>
                                    <input type="text" class="form-control mt-2" formControlName="address" required>
                                </div>
                            </div>
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Address Line1:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addresslinE1" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Address Line2:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addresslinE2" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Pincode:</label>
                                    <input type="text" class="form-control mt-2" formControlName="pincode" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Country:</label>
                                    <select class="form-control" name="country" [(ngModel)]="selectedCountry" (change)="getStateData();" required>
                                        <option value="undefined">Select Country</option>
                                        <option *ngFor="let country of countries" [value]="country.countryid">{{ country.country }}</option>
                                      </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">State:</label>
                                    <select class="form-control" name="state" [(ngModel)]="selectedState" (change)="getDistrictData(selectedState);" required>
                                        <option value="undefined">Select State</option>
                                        <option *ngFor="let state of states" [value]="state.stateid">{{ state.state }}</option>
                                      </select>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">District:</label>
                                    <select class="form-control" name="district">
                                        <option value="undefined">Select District</option>
                                        <option *ngFor="let district of districts" [value]="district.districtid">{{ district.districtname }}</option>
                                      </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- NationalRow -->

    <div class="row mt-4">
        <div class="col-md-10 offset-md-1" style="border: 1px solid #ccc;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><b>Employee National Details</b></h2>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" (click)="addNationalRow()">+Add</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-0">
                        <form [formGroup]="myFormNationalDetails" (ngSubmit)="submitNationalRow()">
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Pan Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="pannumber" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Aadhar Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addharnumber"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Voter Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="voternumber" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="passportnumber"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Start Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="passportexpdate"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Expiry Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="passportstartdate"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Issue Office:</label>
                                    <input type="text" class="form-control mt-2" formControlName="passportissueoffice"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" *ngFor="let dynamic of dynamicNationalRow; let i = index;">
                    <div class="col-md-0">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h2><b>{{ dynamic.title }}</b></h2> -->
                            </div>
                            <div class="col-md-2">
                                <button (click)="deleteNationalRow(i)" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                        <form [formGroup]="myFormNationalDetails" (ngSubmit)="submitNationalRow()">
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Pan Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="pannumber" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Aadhar Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addharnumber"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Voter Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="voternumber" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="passportnumber"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Start Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="passportexpdate"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Expiry Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="passportstartdate"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Issue Office:</label>
                                    <input type="text" class="form-control mt-2" formControlName="passportissueoffice"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EducationalRow -->

    <div class="row mt-4">
        <div class="col-md-10 offset-md-1" style="border: 1px solid #ccc;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><b>Employee Education Details</b></h2>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" (click)="addEducationalRow()">+Add</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-0">
                        <form [formGroup]="myFormEducationDetails" (ngSubmit)="submitEductaionalRow()">
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Institution:</label>
                                    <input type="text" class="form-control mt-2" formControlName="coursename" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">CourseName:</label>
                                    <input type="text" class="form-control mt-2" formControlName="institutionname"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Year of Joining:</label>
                                    <input type="date" class="form-control mt-2" formControlName="dateofjoined"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Year of PassedOut:</label>
                                    <input type="date" class="form-control mt-2" formControlName="dateofpassedout"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Percentage:</label>
                                    <input type="text" class="form-control mt-2" formControlName="percentage" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Institution Address:</label>
                                    <input type="text" class="form-control mt-2" formControlName="institutionaddress"
                                        required>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" *ngFor="let dynamic of dynamicEducationalRow; let i = index;">
                    <div class="col-md-0">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h2><b>{{ dynamic.title }}</b></h2> -->
                            </div>
                            <div class="col-md-2">
                                <button (click)="deleteEducationalRow(i)" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                        <form [formGroup]="myFormEducationDetails" (ngSubmit)="submitEductaionalRow()">
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Institution:</label>
                                    <input type="text" class="form-control mt-2" formControlName="coursename" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">CourseName:</label>
                                    <input type="text" class="form-control mt-2" formControlName="institutionname"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Year of Joining:</label>
                                    <input type="date" class="form-control mt-2" formControlName="dateofjoined"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Year of PassedOut:</label>
                                    <input type="date" class="form-control mt-2" formControlName="dateofpassedout"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Percentage:</label>
                                    <input type="text" class="form-control mt-2" formControlName="percentage" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Institution Address:</label>
                                    <input type="text" class="form-control mt-2" formControlName="institutionaddress"
                                        required>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ExperienceRow -->

    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            <div class="row" style="border: 1px solid #ccc;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><b>Employee Experience Details</b></h2>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" (click)="addRow()">+Add</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-0">
                        <form [formGroup]="myFormExperienceDetails" (ngSubmit)="submitExperienceRow()">
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Company Name:</label>
                                    <input type="text" class="form-control mt-2" formControlName="companyname" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Designation:</label>
                                    <input type="text" class="form-control mt-2" formControlName="designation" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Start Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="startdate" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">End Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="enddate" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Last Drawn CTC:</label>
                                    <input type="text" class="form-control mt-2" formControlName="lastdrawncts"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Total Years Experience:</label>
                                    <input type="text" class="form-control mt-2" formControlName="totalyearsexp"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" *ngFor="let dynamic of dynamicArray; let i = index;">
                    <div class="col-md-0">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h2><b>{{ dynamic.title }}</b></h2> -->
                            </div>
                            <div class="col-md-2">
                                <button (click)="deleteRow(i)" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                        <form [formGroup]="myFormExperienceDetails" (ngSubmit)="submitExperienceRow()">
                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Company Name:</label>
                                    <input type="text" class="form-control mt-2" formControlName="companyname" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Designation:</label>
                                    <input type="text" class="form-control mt-2" formControlName="designation" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Start Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="startdate" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">End Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="enddate" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Last Drawn CTC:</label>
                                    <input type="text" class="form-control mt-2" formControlName="lastdrawncts"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Total Years Experience:</label>
                                    <input type="text" class="form-control mt-2" formControlName="totalyearsexp"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TravelRow -->

    <div class="row mt-4">
        <div class="col-md-10 offset-md-1" style="border: 1px solid #ccc;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><b>Employee Travel Details</b></h2>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" (click)="addTravelRow()">+Add</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-0">
                        <form [formGroup]="myFormTravelDetails" (ngSubmit)="submitTravelRow()">

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Pan Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="pannumber" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Aadhar Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addharnumber"
                                        required>
                                </div>
                            </div>

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Voter Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="voternumber" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport No.:</label>
                                    <input type="text" class="form-control mt-2" formControlName="passportnumber"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Issue Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="passportstartdate"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Expiry Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="passportexpdate"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Issue Office:</label>
                                    <input type="text" class="form-control mt-2" formControlName="passportissueoffice"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" *ngFor="let dynamic of dynamicTravelRow; let i = index;">
                    <div class="col-md-0">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h2><b>{{ dynamic.title }}</b></h2> -->
                            </div>
                            <div class="col-md-2">
                                <button (click)="deleteTravelRow(i)" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                        <form [formGroup]="myFormTravelDetails" (ngSubmit)="submitTravelRow()">

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Pan Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="pannumber" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Aadhar Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="addharnumber"
                                        required>
                                </div>
                            </div>

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Voter Number:</label>
                                    <input type="text" class="form-control mt-2" formControlName="voternumber" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport No.:</label>
                                    <input type="text" class="form-control mt-2" formControlName="passportnumber"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Issue Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="passportstartdate"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Expiry Date:</label>
                                    <input type="date" class="form-control mt-2" formControlName="passportexpdate"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Passport Issue Office:</label>
                                    <input type="text" class="form-control mt-2" formControlName="passportissueoffice"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EmergencyRow -->

    <div class="row mt-4">
        <div class="col-md-10 offset-md-1" style="border: 1px solid #ccc;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><b>Employee Emergency Details</b></h2>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info" (click)="addEmergencyRow()">+Add</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-0">
                        <form [formGroup]="myFormEmergencyDetails" (ngSubmit)="submitEmergencyRow()">

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Date Of Birth:</label>
                                    <input type="text" class="form-control mt-2" formControlName="dateOfBirth" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Place Of Birth:</label>
                                    <input type="text" class="form-control mt-2" formControlName="placeOfBirth"
                                        required>
                                </div>
                            </div>

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Emergency Contact No:</label>
                                    <input type="text" class="form-control mt-2" formControlName="emergencyPhNo"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Emergency Contact Name:</label>
                                    <input type="text" class="form-control mt-2" formControlName="emergencyContactName"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Primary Contact No:</label>
                                    <input type="text" class="form-control mt-2" formControlName="primaryPhNo" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Secondary Contact No:</label>
                                    <input type="text" class="form-control mt-2" formControlName="secondaryPhNo"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Blood Group:</label>
                                    <input type="text" class="form-control mt-2" formControlName="bloodGroup" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Emergency Contact Relation:</label>
                                    <input type="text" class="form-control mt-2"
                                        formControlName="emergencyContactRelation" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" *ngFor="let dynamic of dynamicEmergencyRow; let i = index;">
                    <div class="col-md-0">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h2><b>{{ dynamic.title }}</b></h2> -->
                            </div>
                            <div class="col-md-2">
                                <button (click)="deleteEmergencyRow(i)" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                        <form [formGroup]="myFormEmergencyDetails" (ngSubmit)="submitEmergencyRow()">

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Date Of Birth:</label>
                                    <input type="text" class="form-control mt-2" formControlName="dateOfBirth" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Place Of Birth:</label>
                                    <input type="text" class="form-control mt-2" formControlName="placeOfBirth"
                                        required>
                                </div>
                            </div>

                            <div class="row " style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Emergency Contact No:</label>
                                    <input type="text" class="form-control mt-2" formControlName="emergencyPhNo"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Emergency Contact Name:</label>
                                    <input type="text" class="form-control mt-2" formControlName="emergencyContactName"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Primary Contact No:</label>
                                    <input type="text" class="form-control mt-2" formControlName="primaryPhNo" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Secondary Contact No:</label>
                                    <input type="text" class="form-control mt-2" formControlName="secondaryPhNo"
                                        required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Blood Group:</label>
                                    <input type="text" class="form-control mt-2" formControlName="bloodGroup" required>
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight: 600;">Emergency Contact Relation:</label>
                                    <input type="text" class="form-control mt-2"
                                        formControlName="emergencyContactRelation" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>