/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
    font-family: Sans-Serif !important;
    font-size: 16px !important;
    background-color: #fff;
    color: #363636 !important;
    line-height: 1.7;
    font-weight: 400;
}

.headerColor{
    background-color: #002080;
}