<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #fff; margin-top: 15px;">
        <h2>Managed Leaves</h2>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col">
      <div class="table-responsive">
        <div *ngIf="employeeLeavesDetails.length>0">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Duration</th>
              <th scope="col">Absence Name</th>
              <th scope="col">Employee Comments</th>
              <th scope="col">Day(half)</th>
              <th scope="col">Manager Name</th>
              <th scope="col">Manager Approval</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of employeeLeavesDetails; let i = index">
              <td>{{ leave.startDate }}</td>
              <td>{{ leave.endDate }}</td>
              <td>{{ leave.noOfDays }}</td>
              <td>{{ leave.absenceName }}</td>
              <td>{{ leave.managerComments }}</td>
              <td>{{ leave.halfDay }}</td>
              <td>{{ leave.managerName }}</td>
              <td>{{ leave.isManagerApproves }}</td>
              <td>{{ leave.isActive }}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
                  Edit
                </button>&nbsp;
                <button type="button" class="btn btn-danger" data-toggle="modal"
                  data-target="#exampleModalLong1">Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        <h3 *ngIf="employeeLeavesDetails.length==0" class="text-center">No data found!</h3>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->

 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true" *ngIf="!editEmpLeave">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color: blue;"><b>Managed Leaves</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="text" class="form-control" id="startDate" name="startDate" [(ngModel)]="employeeLeavesDetails[0].startDate"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="startDate">End Date</label>
                <input type="text" class="form-control" id="endDate" name="endDate" [(ngModel)]="employeeLeavesDetails[0].endDate">
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-6">
              <div class="form-group">
                <label for="duration">Duration</label>
                <input type="text" class="form-control" id="noOfDays" name="noOfDays" [(ngModel)]="employeeLeavesDetails[0].noOfDays">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="absenceName">Absence Name</label>
                <input type="text" class="form-control" id="editedAbsenceName" name="editedAbsenceName" [(ngModel)]="editEmpLeave">
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-6">
              <div class="form-group">
                <label for="duration">Employee Comments</label>
                <input type="text" class="form-control" id="managerComments" name="managerComments" [(ngModel)]="employeeLeavesDetails[0].managerComments">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="absenceName">Day(Half)</label>
                <input type="text" class="form-control" id="isActive" name="isActive" [(ngModel)]="employeeLeavesDetails[0].isActive" />
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-6">
              <div class="form-group">
                <label for="duration">Manager Name</label>
                <input type="text" class="form-control" id="managerName" name="managerName" [(ngModel)]="employeeLeavesDetails[0].managerName">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="absenceName">Manager Approval</label>
                <input type="text" class="form-control" id="isManagerApproves" name="isManagerApproves" [(ngModel)]="employeeLeavesDetails[0].isManagerApproves">
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-primary">Update Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Cancel Modal -->
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Managed Leaves</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you want to cancel the leave ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>